In [3]:
import pandas as pd
import numpy as np

# Lecture de la base des données

In [4]:
#Lecture de la base des données
df = pd.read_csv("London_Air_Quality.csv")

# Statistiques exploratoires

In [5]:
df.head()

,Date,CO,CO2,NO2,SO2,O3,PM2.5,PM10,AQI
0,2024-01-01 00:00:00+00:00,162.0,NaN,4.7,1.0,65.0,3.5,7.3,9.070833
1,2024-01-01 01:00:00+00:00,163.0,NaN,4.6,1.2,63.0,3.5,6.0,25.200000
2,2024-01-01 02:00:00+00:00,157.0,NaN,4.3,1.1,64.0,3.3,5.9,25.599998
3,2024-01-01 03:00:00+00:00,156.0,NaN,4.4,1.1,64.0,3.1,5.7,25.599998
4,2024-01-01 04:00:00+00:00,157.0,NaN,4.6,1.1,65.0,2.9,5.7,26.000000

In [6]:
df.sample(10) #echantillon aleatoire de 10 lignes pour voir l'interieur des données

,Date,CO,CO2,NO2,SO2,O3,PM2.5,PM10,AQI
4800,2024-07-19 00:00:00+00:00,193.0,NaN,34.7,2.4,35.0,10.7,16.0,17.950000
3930,2024-06-12 18:00:00+00:00,150.0,NaN,19.3,2.2,79.0,9.5,12.4,31.599998
6963,2024-10-17 03:00:00+00:00,143.0,NaN,12.9,2.0,37.0,4.4,5.3,14.800000
1848,2024-03-18 00:00:00+00:00,220.0,NaN,26.7,3.0,35.0,17.5,20.5,15.275001
1760,2024-03-14 08:00:00+00:00,185.0,NaN,26.0,4.9,36.0,12.2,16.4,17.383335
7631,2024-11-13 23:00:00+00:00,260.0,479.0,48.3,6.7,2.0,21.1,24.2,23.320000
3550,2024-05-27 22:00:00+00:00,175.0,NaN,24.7,3.7,56.0,7.7,10.7,22.400000
1497,2024-03-03 09:00:00+00:00,371.0,NaN,39.5,12.2,20.0,25.5,28.7,29.708332
4130,2024-06-21 02:00:00+00:00,191.0,NaN,51.1,4.9,20.0,15.4,19.0,24.440000
4593,2024-07-10 09:00:00+00:00,121.0,NaN,10.6,1.6,50.0,3.6,8.1,20.000000

In [7]:
df['Date'].unique()

array(['2024-01-01 00:00:00+00:00', '2024-01-01 01:00:00+00:00',
       '2024-01-01 02:00:00+00:00', ..., '2024-12-31 21:00:00+00:00',
       '2024-12-31 22:00:00+00:00', '2024-12-31 23:00:00+00:00'],
      dtype=object)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8784 non-null   object
 1   CO      8784 non-null   float64
 2   CO2     1608 non-null   float64
 3   NO2     8784 non-null   float64
 4   SO2     8784 non-null   float64
 5   O3      8784 non-null   float64
 6   PM2.5   8784 non-null   float64
 7   PM10    8784 non-null   float64
 8   AQI     8784 non-null   float64
dtypes: float64(8), object(1)
memory usage: 617.8+ KB

In [9]:
df.describe()

,CO,CO2,NO2,SO2,O3,PM2.5,PM10,AQI
count,8784.000000,1608.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,187.744194,475.114428,21.797495,3.326093,49.154030,9.985178,14.136009,27.097212
std,49.121408,44.233857,15.321360,3.121396,23.235001,6.763177,7.891899,9.971780
min,105.000000,435.000000,1.800000,0.300000,0.000000,0.800000,1.200000,9.070833
25%,156.000000,450.000000,10.500000,1.400000,36.000000,5.300000,8.700000,20.800000
50%,177.000000,458.000000,16.900000,2.300000,51.000000,7.800000,11.900000,25.200000
75%,205.000000,482.000000,28.800000,4.000000,64.000000,12.500000,17.100000,30.341665
max,536.000000,786.000000,87.400000,41.300000,142.000000,45.100000,55.100000,70.370010

In [10]:
#Voir les valeurs manquantes
df.isna().sum()

Date        0
CO          0
CO2      7176
NO2         0
SO2         0
O3          0
PM2.5       0
PM10        0
AQI         0
dtype: int64

In [11]:
df['Date'] = pd.to_datetime(df['Date']) #convertir Date en format datetime
print(df.dtypes)

Date     datetime64[ns, UTC]
CO                   float64
CO2                  float64
NO2                  float64
SO2                  float64
O3                   float64
PM2.5                float64
PM10                 float64
AQI                  float64
dtype: object

In [12]:
df['Date_jour'] = df['Date'].dt.date #nouvelle colonne pour la date seule
print(df.dtypes)

Date         datetime64[ns, UTC]
CO                       float64
CO2                      float64
NO2                      float64
SO2                      float64
O3                       float64
PM2.5                    float64
PM10                     float64
AQI                      float64
Date_jour                 object
dtype: object

In [13]:
df = df.drop(['Date', 'CO2'], axis=1) #Supprimer les colonnes Date et CO2

In [14]:
df['Date_jour'] = pd.to_datetime(df['Date_jour']) #Ici on transformer la variable en format Datetime

In [15]:
moyennes_journalieres = df.groupby('Date_jour')[['CO','NO2','SO2','O3','PM2.5','PM10','AQI']].mean().reset_index()

### Ici, on compare les stats avant et après regroupement des données par jour

In [16]:
moyennes_journalieres.describe()

,Date_jour,CO,NO2,SO2,O3,PM2.5,PM10,AQI
count,366,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,2024-07-01 12:00:00.000000256,187.744194,21.797495,3.326093,49.154030,9.985178,14.136009,27.097212
min,2024-01-01 00:00:00,117.333333,5.804167,0.637500,3.541667,1.666667,3.287500,15.926389
25%,2024-04-01 06:00:00,159.833333,13.287500,1.685417,38.968750,5.896875,9.613542,22.232084
50%,2024-07-01 12:00:00,181.291667,18.454167,2.552083,51.916667,8.239583,12.466667,24.824792
75%,2024-09-30 18:00:00,207.572917,28.227083,4.153125,60.572917,12.318750,16.917708,28.871615
max,2024-12-31 00:00:00,358.500000,72.579167,15.662500,94.375000,34.533333,43.333333,69.008472
std,NaN,40.200822,11.470910,2.399183,17.204380,5.689122,6.555239,8.662264

In [17]:
df.describe()

,CO,NO2,SO2,O3,PM2.5,PM10,AQI,Date_jour
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784
mean,187.744194,21.797495,3.326093,49.154030,9.985178,14.136009,27.097212,2024-07-01 12:00:00
min,105.000000,1.800000,0.300000,0.000000,0.800000,1.200000,9.070833,2024-01-01 00:00:00
25%,156.000000,10.500000,1.400000,36.000000,5.300000,8.700000,20.800000,2024-04-01 00:00:00
50%,177.000000,16.900000,2.300000,51.000000,7.800000,11.900000,25.200000,2024-07-01 12:00:00
75%,205.000000,28.800000,4.000000,64.000000,12.500000,17.100000,30.341665,2024-10-01 00:00:00
max,536.000000,87.400000,41.300000,142.000000,45.100000,55.100000,70.370010,2024-12-31 00:00:00
std,49.121408,15.321360,3.121396,23.235001,6.763177,7.891899,9.971780,NaN

In [18]:
moyennes_journalieres = moyennes_journalieres.rename(columns={"Date_jour": "Date"})#on renomme Date_jour en Date

# Base Benzène

In [19]:
#Lecture de la base des données
file_path = "MY1_BENZENE_2024.csv"
df_benzene = pd.read_csv(file_path, skiprows=4)

In [20]:
df_benzene.head()

,Date,01:00,02:00,03:00,04:00,05:00,06:00,07:00,08:00,09:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,24:00
0,01-01-2024,0.564707,0.786518,0.841429,0.508700,0.595759,0.414640,0.793355,0.616374,0.435739,...,0.694638,0.938943,0.724937,0.664410,0.520550,0.384957,0.475609,0.567006,0.490546,0.133839
1,02-01-2024,0.315213,0.180223,,0.173393,0.293595,0.336098,0.287557,0.317782,0.356860,...,0.351347,,0.293702,0.446895,0.637444,0.671762,0.409442,0.532303,0.309152,0.317318
2,03-01-2024,0.219584,0.344818,0.252224,0.199581,0.186560,0.213470,0.458372,,0.542505,...,,,,,,0.541416,0.509174,0.621073,0.616407,0.471928
3,04-01-2024,0.696772,0.309210,0.252617,0.237504,0.232150,0.333945,0.436780,0.787066,0.664183,...,0.738412,0.538704,0.796195,0.527445,0.482734,0.596346,0.485808,0.457756,0.402712,0.249114
4,05-01-2024,0.319079,0.155012,,0.126733,0.456978,0.281515,0.573051,0.330296,0.409166,...,0.313326,0.458281,0.425725,0.487024,0.757902,0.498692,0.375702,0.442893,0.456702,0.730612

In [21]:
df_benzene.columns

Index(['   Date   ', ' 01:00', ' 02:00', ' 03:00', ' 04:00', ' 05:00',
       ' 06:00', ' 07:00', ' 08:00', ' 09:00', ' 10:00', ' 11:00', ' 12:00',
       ' 13:00', ' 14:00', ' 15:00', ' 16:00', ' 17:00', ' 18:00', ' 19:00',
       ' 20:00', ' 21:00', ' 22:00', ' 23:00', ' 24:00'],
      dtype='object')

In [22]:
# Nettoyage des noms de colonnes : suppression des espaces superflus
df_benzene.columns = df_benzene.columns.str.strip()

# Conversion des valeurs horaires en numériques (en ignorant les erreurs pour les valeurs vides)
for col in df_benzene.columns[1:]:  # on exclut la colonne 'Date'
    df_benzene[col] = pd.to_numeric(df_benzene[col], errors='coerce')

# Calcul de la moyenne journalière en ignorant les valeurs manquantes (NaN)
df_benzene['Moyenne_journalière'] = df_benzene.iloc[:, 1:].mean(axis=1)

# On garde juste la date et la moyenne
df_benzene_moyennes = df_benzene[['Date', 'Moyenne_journalière']]

# Affichage
print(df_benzene_moyennes.head())

         Date  Moyenne_journalière
0  01-01-2024             0.557676
1  02-01-2024             0.362716
2  03-01-2024             0.431034
3  04-01-2024             0.602937
4  05-01-2024             0.445602

In [23]:
#df_benzene_moyennes['Date'].unique()
df_benzene_moyennes.dtypes

Date                    object
Moyenne_journalière    float64
dtype: object

In [24]:
df_benzene_moyennes = df_benzene_moyennes.rename(columns={"Moyenne_journalière": "Benzène"})#on renomme

In [25]:
df_benzene_moyennes['Date'] = pd.to_datetime(df_benzene_moyennes['Date'], format='%d-%m-%Y', errors='coerce')

# Fusion de deux bases de données

In [26]:
df_fusion = pd.merge(df_benzene_moyennes, moyennes_journalieres, on='Date', how='inner')

In [27]:
df_fusion

,Date,Benzène,CO,NO2,SO2,O3,PM2.5,PM10,AQI
0,2024-01-01,0.557676,173.625000,16.883333,3.025000,54.750000,5.029167,8.579167,21.411284
1,2024-01-02,0.362716,147.458333,13.370833,2.262500,63.208333,4.125000,6.500000,25.283333
2,2024-01-03,0.431034,175.041667,17.875000,2.929167,51.000000,5.612500,7.675000,21.110833
3,2024-01-04,0.602937,199.125000,29.491667,4.762500,38.041667,7.000000,11.658333,21.359653
4,2024-01-05,0.445602,207.333333,26.400000,4.762500,31.833333,12.687500,14.954167,19.680278
...,...,...,...,...,...,...,...,...,...
361,2024-12-27,0.789309,291.750000,72.579167,13.016667,3.541667,28.191667,34.937500,56.112915
362,2024-12-28,0.769923,244.250000,50.358333,6.920833,12.625000,22.150000,27.666667,61.439305
363,2024-12-29,0.667127,197.958333,33.341667,3.550000,27.625000,13.470833,16.354167,33.479168
364,2024-12-30,0.424513,167.500000,23.825000,2.541667,51.625000,5.620833,7.837500,22.256459
365,2024-12-31,0.370391,152.041667,15.183333,1.675000,54.666667,5.504167,9.016667,21.866667

# Base Toluène

In [28]:
#Lecture de la base des données
file_path = "MY1_TOLUENE_2024.csv"
df_toluene = pd.read_csv(file_path, skiprows=4)

In [29]:
df_toluene

,Date,01:00,02:00,03:00,04:00,05:00,06:00,07:00,08:00,09:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,24:00
0,01-01-2024,0.831405,2.704514,2.630391,1.710956,1.234295,1.046494,0.876629,2.761623,0.985262,...,1.728869,1.174057,1.173407,0.937899,1.336077,0.927399,0.545425,0.568540,0.981961,0.409561
1,02-01-2024,0.453286,0.488297,0.428828,0.423928,0.288604,0.346539,0.558763,1.080491,1.435973,...,0.624471,0.797648,0.540062,1.229521,1.294353,1.279947,1.117075,0.983276,0.515536,1.016035
2,03-01-2024,0.465740,0.337033,0.307087,0.336838,0.283237,0.372339,0.526024,0.632557,1.465771,...,,,,,,1.400736,1.655897,1.424345,1.023042,1.566279
3,04-01-2024,1.402989,0.620255,0.625385,0.556150,0.402225,0.336222,0.677391,2.197707,1.388848,...,2.743522,1.355248,1.946628,1.440556,1.044222,1.297746,0.987274,0.502125,0.613994,0.436624
4,05-01-2024,0.318554,0.208120,0.132907,0.283241,0.499723,0.487937,0.756949,0.909341,1.387597,...,0.966289,0.958960,1.211042,1.671871,1.571940,1.415210,0.622443,0.567216,1.307618,1.138430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,27-12-2024,2.414667,1.375747,1.267263,1.090536,0.606538,0.761103,0.759083,0.832151,0.945920,...,2.350046,3.332791,2.353232,2.602292,3.040576,2.462420,2.763092,2.636159,,
362,28-12-2024,,,,,1.345464,1.092762,1.206276,1.381060,1.219557,...,1.849964,1.952067,1.616292,1.799733,1.351702,1.284809,0.978464,1.104398,0.654742,
363,29-12-2024,0.991906,0.786215,1.201185,0.988360,0.857545,0.319916,0.403621,1.095639,1.525737,...,2.697147,2.155631,1.371746,3.721490,4.033021,2.748732,4.794721,2.362512,2.448305,1.697078
364,30-12-2024,0.589742,0.583706,0.677796,0.366043,0.342190,0.272408,2.092674,0.786965,0.631796,...,1.354154,2.128576,1.089901,2.062314,1.776602,0.885828,1.392103,0.837383,1.328583,1.310005
365,31-12-2024,0.954890,0.886138,0.449488,0.236479,0.730292,0.464826,0.768478,0.750661,0.558491,...,0.996087,1.560985,1.124074,0.816085,0.915323,0.912099,1.034456,1.399933,0.780959,0.969919

In [30]:
# Nettoyage des noms de colonnes : suppression des espaces superflus
df_toluene.columns = df_toluene.columns.str.strip()

# Conversion des valeurs horaires en numériques (en ignorant les erreurs pour les valeurs vides)
for col in df_toluene.columns[1:]:  # on exclut la colonne 'Date'
    df_toluene[col] = pd.to_numeric(df_toluene[col], errors='coerce')

# Calcul de la moyenne journalière en ignorant les valeurs manquantes (NaN)
df_toluene['Toluène'] = df_toluene.iloc[:, 1:].mean(axis=1)

# On garde juste la date et la moyenne
df_toluene_moyennes = df_toluene[['Date', 'Toluène']]

# Affichage
print(df_toluene_moyennes.head())

         Date   Toluène
0  01-01-2024  1.220990
1  02-01-2024  0.798221
2  03-01-2024  0.961362
3  04-01-2024  1.940256
4  05-01-2024  0.938934

In [31]:
df_toluene_moyennes.dtypes

Date        object
Toluène    float64
dtype: object

In [32]:
df_toluene_moyennes['Date'] = pd.to_datetime(df_toluene_moyennes['Date'], format='%d-%m-%Y', errors='coerce')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15400\142427471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_toluene_moyennes['Date'] = pd.to_datetime(df_toluene_moyennes['Date'], format='%d-%m-%Y', errors='coerce')

# Fusion avec Toluène

In [33]:
df_fusion_toluene = pd.merge(df_toluene_moyennes, df_fusion, on='Date', how='inner')

In [34]:
df_fusion_toluene

,Date,Toluène,Benzène,CO,NO2,SO2,O3,PM2.5,PM10,AQI
0,2024-01-01,1.220990,0.557676,173.625000,16.883333,3.025000,54.750000,5.029167,8.579167,21.411284
1,2024-01-02,0.798221,0.362716,147.458333,13.370833,2.262500,63.208333,4.125000,6.500000,25.283333
2,2024-01-03,0.961362,0.431034,175.041667,17.875000,2.929167,51.000000,5.612500,7.675000,21.110833
3,2024-01-04,1.940256,0.602937,199.125000,29.491667,4.762500,38.041667,7.000000,11.658333,21.359653
4,2024-01-05,0.938934,0.445602,207.333333,26.400000,4.762500,31.833333,12.687500,14.954167,19.680278
...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,1.800116,0.789309,291.750000,72.579167,13.016667,3.541667,28.191667,34.937500,56.112915
362,2024-12-28,1.394827,0.769923,244.250000,50.358333,6.920833,12.625000,22.150000,27.666667,61.439305
363,2024-12-29,1.818096,0.667127,197.958333,33.341667,3.550000,27.625000,13.470833,16.354167,33.479168
364,2024-12-30,1.103198,0.424513,167.500000,23.825000,2.541667,51.625000,5.620833,7.837500,22.256459
365,2024-12-31,0.879945,0.370391,152.041667,15.183333,1.675000,54.666667,5.504167,9.016667,21.866667

# Données météorlogiques

In [35]:
file_path = "export-londres2024.csv"
df_meteo = pd.read_csv(file_path, sep=',', skiprows=3)

In [36]:
df_meteo.head()

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,WINDSPEED_MAX_KMH,TEMPERATURE_MORNING_C_6H,TEMPERATURE_NOON_C_12H,TEMPERATURE_EVENING_C_18H,PRECIP_TOTAL_DAY_MM,HUMIDITY_MAX_PERCENT,VISIBILITY_AVG_KM,...,TEMPERATURE_NIGHT_C_3H,WEATHER_CODE_NIGHT_3H,TEMPERATURE_9H,WEATHER_CODE_9H,TEMPERATURE_15H,WEATHER_CODE_15H,TEMPERATURE_21H,WEATHER_CODE_21H,TEMPERATURE_MIDNIGHT_0H,WEATHER_CODE_MIDNIGHT_0H
0,2024-01-01,10,7,22,7,8,9,0.7,77,8.875,...,8,176,7,122,8,176,10,176,8,200
1,2024-01-02,12,9,41,11,12,9,3.3,94,7.750,...,11,116,11,266,12,122,10,176,11,296
2,2024-01-03,11,10,28,10,11,10,0.3,75,9.875,...,10,122,10,176,10,176,10,200,10,122
3,2024-01-04,8,6,17,6,8,7,0.5,83,9.000,...,8,176,6,113,8,176,7,353,8,119
4,2024-01-05,7,4,21,6,6,5,2.9,85,9.875,...,4,296,5,119,7,119,5,122,6,353

In [37]:
df_meteo['DATE'].unique

<bound method Series.unique of 0      2024-01-01
1      2024-01-02
2      2024-01-03
3      2024-01-04
4      2024-01-05
          ...
361    2024-12-27
362    2024-12-28
363    2024-12-29
364    2024-12-30
365    2024-12-31
Name: DATE, Length: 366, dtype: object>

In [38]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATE                       366 non-null    object
 1   MAX_TEMPERATURE_C          366 non-null    int64
 2   MIN_TEMPERATURE_C          366 non-null    int64
 3   WINDSPEED_MAX_KMH          366 non-null    int64
 4   TEMPERATURE_MORNING_C_6H   366 non-null    int64
 5   TEMPERATURE_NOON_C_12H     366 non-null    int64
 6   TEMPERATURE_EVENING_C_18H  366 non-null    int64
 7   PRECIP_TOTAL_DAY_MM        366 non-null    float64
 8   HUMIDITY_MAX_PERCENT       366 non-null    int64
 9   VISIBILITY_AVG_KM          366 non-null    float64
 10  PRESSURE_MAX_MB            366 non-null    int64
 11  CLOUDCOVER_AVG_PERCENT     366 non-null    float64
 12  HEATINDEX_MAX_C            366 non-null    int64
 13  DEWPOINT_MAX_C             366 non-null    int64
 14  WINDTEMP_MAX_C             366 non-null    int64
 15  WEATHER_CODE_MORNING_6H    366 non-null    int64
 16  WEATHER_CODE_NOON_12H      366 non-null    int64
 17  WEATHER_CODE_EVENING_18H   366 non-null    int64
 18  TOTAL_SNOW_MM              366 non-null    float64
 19  UV_INDEX                   366 non-null    int64
 20  SUNHOUR                    366 non-null    int64
 21  OPINION                    366 non-null    object
 22  SUNSET                     366 non-null    object
 23  SUNRISE                    366 non-null    object
 24  TEMPERATURE_NIGHT_C_3H     366 non-null    int64
 25  WEATHER_CODE_NIGHT_3H      366 non-null    int64
 26  TEMPERATURE_9H             366 non-null    int64
 27  WEATHER_CODE_9H            366 non-null    int64
 28  TEMPERATURE_15H            366 non-null    int64
 29  WEATHER_CODE_15H           366 non-null    int64
 30  TEMPERATURE_21H            366 non-null    int64
 31  WEATHER_CODE_21H           366 non-null    int64
 32  TEMPERATURE_MIDNIGHT_0H    366 non-null    int64
 33  WEATHER_CODE_MIDNIGHT_0H   366 non-null    int64
dtypes: float64(4), int64(26), object(4)
memory usage: 97.3+ KB

In [39]:
# Calcul des variables dérivées
df_meteo['TEMP_MOY'] = df_meteo[[
    'TEMPERATURE_MORNING_C_6H',
    'TEMPERATURE_NOON_C_12H',
    'TEMPERATURE_EVENING_C_18H',
    'TEMPERATURE_NIGHT_C_3H'
]].mean(axis=1)

df_meteo['SR_EST_W_m2'] = df_meteo['SUNHOUR'] * 150
df_meteo['WINDSPEED_AVG_KMH'] = df_meteo['WINDSPEED_MAX_KMH'] * 0.6
df_meteo['HUMIDITY_EST_AVG'] = df_meteo['HUMIDITY_MAX_PERCENT'] * 0.75

# Sélection finale des colonnes pertinentes
colonnes_utiles = [
    'DATE',
    'MAX_TEMPERATURE_C',
    'MIN_TEMPERATURE_C',
    'TEMP_MOY',
    'HUMIDITY_MAX_PERCENT',
    'HUMIDITY_EST_AVG',
    'WINDSPEED_MAX_KMH',
    'WINDSPEED_AVG_KMH',
    'PRECIP_TOTAL_DAY_MM',
    'SUNHOUR',
    'SR_EST_W_m2',
    'PRESSURE_MAX_MB',
    'CLOUDCOVER_AVG_PERCENT'
]

df_meteo_model = df_meteo[colonnes_utiles]

# Affichage 
df_meteo_model

,DATE,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,TEMP_MOY,HUMIDITY_MAX_PERCENT,HUMIDITY_EST_AVG,WINDSPEED_MAX_KMH,WINDSPEED_AVG_KMH,PRECIP_TOTAL_DAY_MM,SUNHOUR,SR_EST_W_m2,PRESSURE_MAX_MB,CLOUDCOVER_AVG_PERCENT
0,2024-01-01,10,7,8.00,77,57.75,22,13.2,0.7,1,150,1005,86.500
1,2024-01-02,12,9,10.75,94,70.50,41,24.6,3.3,1,150,992,92.125
2,2024-01-03,11,10,10.25,75,56.25,28,16.8,0.3,1,150,996,96.875
3,2024-01-04,8,6,7.25,83,62.25,17,10.2,0.5,3,450,1004,75.125
4,2024-01-05,7,4,5.25,85,63.75,21,12.6,2.9,7,1050,1008,84.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,9,6,8.00,85,63.75,5,3.0,0.0,7,1050,1035,25.250
362,2024-12-28,9,6,8.00,89,66.75,6,3.6,0.0,3,450,1031,64.625
363,2024-12-29,8,4,6.00,94,70.50,12,7.2,0.0,7,1050,1029,26.250
364,2024-12-30,7,5,6.00,96,72.00,14,8.4,0.0,7,1050,1029,45.250
365,2024-12-31,11,6,9.00,74,55.50,29,17.4,0.2,6,900,1026,72.125

- SR_EST_W_m2 ≈ quantité totale de rayonnement solaire journalier moyen, exprimée en Wh/m².
- SR (W/m²)≈ Energie solaire journalière(Wh/m²)/ Heures d’ensoleillement 

- Constante empirique (valeur moyenne en Europe en été) ~ 150 W/m² par heure 
- Proxy du rayonnemeny solaire à partir de SUNHOUR (Nombre d'heures d'ensolleiment)
df_meteo['SR_EST_W_m2'] = df_meteo['SUNHOUR'] * k
- Si on suppose que l’humidité est symétrique autour du max (ce qui est faux en général, mais acceptable sans données). 
L’humidité varie beaucoup entre le matin et l’après-midi. Donc ces approximations peuvent introduire du bruit si tu les utilises dans un modèle

In [40]:
df_meteo_model = df_meteo_model.rename(columns={"DATE": "Date"})

In [41]:
df_meteo_model['Date'] = pd.to_datetime(df_meteo_model['Date'], format='%Y-%m-%d', errors='coerce')

In [42]:
df_meteo_model

,Date,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,TEMP_MOY,HUMIDITY_MAX_PERCENT,HUMIDITY_EST_AVG,WINDSPEED_MAX_KMH,WINDSPEED_AVG_KMH,PRECIP_TOTAL_DAY_MM,SUNHOUR,SR_EST_W_m2,PRESSURE_MAX_MB,CLOUDCOVER_AVG_PERCENT
0,2024-01-01,10,7,8.00,77,57.75,22,13.2,0.7,1,150,1005,86.500
1,2024-01-02,12,9,10.75,94,70.50,41,24.6,3.3,1,150,992,92.125
2,2024-01-03,11,10,10.25,75,56.25,28,16.8,0.3,1,150,996,96.875
3,2024-01-04,8,6,7.25,83,62.25,17,10.2,0.5,3,450,1004,75.125
4,2024-01-05,7,4,5.25,85,63.75,21,12.6,2.9,7,1050,1008,84.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,9,6,8.00,85,63.75,5,3.0,0.0,7,1050,1035,25.250
362,2024-12-28,9,6,8.00,89,66.75,6,3.6,0.0,3,450,1031,64.625
363,2024-12-29,8,4,6.00,94,70.50,12,7.2,0.0,7,1050,1029,26.250
364,2024-12-30,7,5,6.00,96,72.00,14,8.4,0.0,7,1050,1029,45.250
365,2024-12-31,11,6,9.00,74,55.50,29,17.4,0.2,6,900,1026,72.125

# Fusion finale

In [43]:
df_final = pd.merge(df_meteo_model,df_fusion_toluene, on='Date', how='inner')

In [44]:
df_final

,Date,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,TEMP_MOY,HUMIDITY_MAX_PERCENT,HUMIDITY_EST_AVG,WINDSPEED_MAX_KMH,WINDSPEED_AVG_KMH,PRECIP_TOTAL_DAY_MM,SUNHOUR,...,CLOUDCOVER_AVG_PERCENT,Toluène,Benzène,CO,NO2,SO2,O3,PM2.5,PM10,AQI
0,2024-01-01,10,7,8.00,77,57.75,22,13.2,0.7,1,...,86.500,1.220990,0.557676,173.625000,16.883333,3.025000,54.750000,5.029167,8.579167,21.411284
1,2024-01-02,12,9,10.75,94,70.50,41,24.6,3.3,1,...,92.125,0.798221,0.362716,147.458333,13.370833,2.262500,63.208333,4.125000,6.500000,25.283333
2,2024-01-03,11,10,10.25,75,56.25,28,16.8,0.3,1,...,96.875,0.961362,0.431034,175.041667,17.875000,2.929167,51.000000,5.612500,7.675000,21.110833
3,2024-01-04,8,6,7.25,83,62.25,17,10.2,0.5,3,...,75.125,1.940256,0.602937,199.125000,29.491667,4.762500,38.041667,7.000000,11.658333,21.359653
4,2024-01-05,7,4,5.25,85,63.75,21,12.6,2.9,7,...,84.750,0.938934,0.445602,207.333333,26.400000,4.762500,31.833333,12.687500,14.954167,19.680278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,9,6,8.00,85,63.75,5,3.0,0.0,7,...,25.250,1.800116,0.789309,291.750000,72.579167,13.016667,3.541667,28.191667,34.937500,56.112915
362,2024-12-28,9,6,8.00,89,66.75,6,3.6,0.0,3,...,64.625,1.394827,0.769923,244.250000,50.358333,6.920833,12.625000,22.150000,27.666667,61.439305
363,2024-12-29,8,4,6.00,94,70.50,12,7.2,0.0,7,...,26.250,1.818096,0.667127,197.958333,33.341667,3.550000,27.625000,13.470833,16.354167,33.479168
364,2024-12-30,7,5,6.00,96,72.00,14,8.4,0.0,7,...,45.250,1.103198,0.424513,167.500000,23.825000,2.541667,51.625000,5.620833,7.837500,22.256459
365,2024-12-31,11,6,9.00,74,55.50,29,17.4,0.2,6,...,72.125,0.879945,0.370391,152.041667,15.183333,1.675000,54.666667,5.504167,9.016667,21.866667

In [45]:
df_final['City'] = 'London'

In [46]:
df_final

,Date,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,TEMP_MOY,HUMIDITY_MAX_PERCENT,HUMIDITY_EST_AVG,WINDSPEED_MAX_KMH,WINDSPEED_AVG_KMH,PRECIP_TOTAL_DAY_MM,SUNHOUR,...,Toluène,Benzène,CO,NO2,SO2,O3,PM2.5,PM10,AQI,City
0,2024-01-01,10,7,8.00,77,57.75,22,13.2,0.7,1,...,1.220990,0.557676,173.625000,16.883333,3.025000,54.750000,5.029167,8.579167,21.411284,London
1,2024-01-02,12,9,10.75,94,70.50,41,24.6,3.3,1,...,0.798221,0.362716,147.458333,13.370833,2.262500,63.208333,4.125000,6.500000,25.283333,London
2,2024-01-03,11,10,10.25,75,56.25,28,16.8,0.3,1,...,0.961362,0.431034,175.041667,17.875000,2.929167,51.000000,5.612500,7.675000,21.110833,London
3,2024-01-04,8,6,7.25,83,62.25,17,10.2,0.5,3,...,1.940256,0.602937,199.125000,29.491667,4.762500,38.041667,7.000000,11.658333,21.359653,London
4,2024-01-05,7,4,5.25,85,63.75,21,12.6,2.9,7,...,0.938934,0.445602,207.333333,26.400000,4.762500,31.833333,12.687500,14.954167,19.680278,London
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,9,6,8.00,85,63.75,5,3.0,0.0,7,...,1.800116,0.789309,291.750000,72.579167,13.016667,3.541667,28.191667,34.937500,56.112915,London
362,2024-12-28,9,6,8.00,89,66.75,6,3.6,0.0,3,...,1.394827,0.769923,244.250000,50.358333,6.920833,12.625000,22.150000,27.666667,61.439305,London
363,2024-12-29,8,4,6.00,94,70.50,12,7.2,0.0,7,...,1.818096,0.667127,197.958333,33.341667,3.550000,27.625000,13.470833,16.354167,33.479168,London
364,2024-12-30,7,5,6.00,96,72.00,14,8.4,0.0,7,...,1.103198,0.424513,167.500000,23.825000,2.541667,51.625000,5.620833,7.837500,22.256459,London
365,2024-12-31,11,6,9.00,74,55.50,29,17.4,0.2,6,...,0.879945,0.370391,152.041667,15.183333,1.675000,54.666667,5.504167,9.016667,21.866667,London

In [47]:
df_final['Toluène'] = df_final['Toluène'].fillna(df_final['Toluène'].mean())
df_final['Benzène'] = df_final['Benzène'].fillna(df_final['Benzène'].mean())

In [50]:
df_final.describe()

,Date,MAX_TEMPERATURE_C,MIN_TEMPERATURE_C,TEMP_MOY,HUMIDITY_MAX_PERCENT,HUMIDITY_EST_AVG,WINDSPEED_MAX_KMH,WINDSPEED_AVG_KMH,PRECIP_TOTAL_DAY_MM,SUNHOUR,...,CLOUDCOVER_AVG_PERCENT,Toluène,Benzène,CO,NO2,SO2,O3,PM2.5,PM10,AQI
count,366,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,2024-07-01 12:00:00.000000256,15.079235,9.193989,11.890027,83.221311,62.415984,17.071038,10.242623,0.603825,6.751366,...,58.742828,1.479450,0.509607,187.744194,21.797495,3.326093,49.154030,9.985178,14.136009,27.097212
min,2024-01-01 00:00:00,2.000000,-1.000000,0.000000,54.000000,40.500000,3.000000,1.800000,0.000000,1.000000,...,0.625000,0.239787,0.149434,117.333333,5.804167,0.637500,3.541667,1.666667,3.287500,15.926389
25%,2024-04-01 06:00:00,11.000000,6.000000,8.000000,76.000000,57.000000,12.250000,7.350000,0.000000,3.000000,...,38.281250,1.072107,0.397704,159.833333,13.287500,1.685417,38.968750,5.896875,9.613542,22.232084
50%,2024-07-01 12:00:00,15.000000,9.000000,11.875000,84.000000,63.000000,17.000000,10.200000,0.100000,7.000000,...,62.937500,1.479450,0.509607,181.291667,18.454167,2.552083,51.916667,8.239583,12.466667,24.824792
75%,2024-09-30 18:00:00,19.000000,12.000000,15.500000,91.000000,68.250000,21.000000,12.600000,0.700000,10.000000,...,81.062500,1.726478,0.562612,207.572917,28.227083,4.153125,60.572917,12.318750,16.917708,28.871615
max,2024-12-31 00:00:00,33.000000,19.000000,25.250000,99.000000,74.250000,41.000000,24.600000,7.900000,17.000000,...,100.000000,12.168312,1.593183,358.500000,72.579167,15.662500,94.375000,34.533333,43.333333,69.008472
std,NaN,5.869985,4.291829,4.889956,9.504588,7.128441,6.593096,3.955857,1.139953,4.386897,...,26.607622,0.846281,0.188994,40.200822,11.470910,2.399183,17.204380,5.689122,6.555239,8.662264

In [51]:
df_final.to_csv("df_final_london.csv", index=False)